:root {
    
--color-light-red: hsl(0, 100%, 67%);
--color-orangey-yellow: hsl(39, 100%, 56%);
--color-green-teal: hsl(166, 100%, 37%);
--color-cobalt-blue: hsl(234, 85%, 45%);

/* background */
--color-light-slate-blue: hsl(252, 100%, 67%);
--color-light-royal-blue: hsl(241, 81%, 54%);

/* circle */
--color-violet-blue: hsla(256, 72%, 46%, 1);
--color-persian-blue: hsla(241, 72%, 46%, 0);


--color-white: hsl(0, 0%, 100%);
--color-pale-blue: hsl(221, 100%, 96%);
--color-Light-lavender: rgb(200, 199, 255);
--color-dark-gray-blue: hsl(224, 30%, 27%);

--rounded-lg: 3rem;

}

* {
    box-sizing: inherit;
}

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

@media only screen and (min-width: 37.5em) {
    body {
        font-size: 1.6rem;
    }
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

.summary {}

@media only screen and (min-width: 37.5em) {
    .summary {
        display: flex;
        max-width: 65rem;
        width: 95%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.summary__overall {
    background-image: linear-gradient(to bottom, 
    var(--color-light-slate-blue), 
    var(--color-light-royal-blue));

    color: var(--color-Light-lavender);
    text-align: center;
    padding-block: 2rem;
    border-bottom-right-radius: var(--rounded-lg);
    border-bottom-left-radius: var(--rounded-lg);
}

@media only screen and (min-width: 37.5em) {
    .summary__overall {
        flex: 0 0 50%;
        border-radius: var(--rounded-lg);
        padding: 3rem 5rem;
    }
}
.summary__overall {

}


.summary__overall > * {
    max-width: 30ch;
    margin: 0 auto;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.score-box {
    width: 18ch;
    height: 18ch;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--color-violet-blue), var(--color-persian-blue));
    margin-bottom: 3rem;
}

.score {
    font-size: 5rem;
    color: var(--color-white);
    font-weight: 800;
    display: block;
}

.score-total {
    color: var(--color-Light-lavender);
    margin-top: -0.75rem;
}

.compliment {
    font-weight: 700;
    color: var(--color-white);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.score-comparison {
    line-height: 1.3;
    margin-bottom: 1.5rem;
}


.summary__detail {
    margin-top: 2rem;
    padding: 0 2.5rem;
}

@media only screen and (min-width: 37.5em) {
    .summary__detail {
        flex: 1;
        margin-top: 0;
        margin-left: -2.4rem;
        padding: 4rem 3rem 2rem 6rem;
        z-index: -1;

        border-top-right-radius: var(--rounded-lg);
        border-bottom-right-radius: var(--rounded-lg);
        box-shadow: 0 1rem 4rem rgba(200, 199, 255, .5);
    }
}

.task__item {
    display: flex;
    padding: 1.25rem;
    align-items: center;
    margin-bottom: 1.25rem;
    font-size: 1.6rem;
}

.task__item >img  {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
}

.task-score__box {
    margin-left: auto;
    font-weight: 700;
}

.task-score {
    color: var(--color-dark-gray-blue);
}

.task-total-score {
    color: #a8b0b3;
}


.task__item--1 {
    background-color: #fff6f5;
}
.task__item--1 > .task-name{
    color: var(--color-light-red);
}


.task__item--2 {
    background-color: #fffbf2;
}
.task__item--2 > .task-name{
    color: var(--color-orangey-yellow);
}


.task__item--3 {
    background-color: #f2fbfa;
}
.task__item--3 > .task-name{
    color: var(--color-green-teal);
}


.task__item--4 {
    background-color: #f3f3fd;
}
.task__item--4 > .task-name{
    color: var(--color-cobalt-blue);
}


.btn {
    background-color: var(--color-dark-gray-blue);
    color: var(--color-pale-blue);
    font-weight: 700;
    width: 100%;
    padding: 1.5rem;
    margin-block: 1.5rem;
    border-radius: 100px;
    border: none;
}

.btn:hover {
    background-image: linear-gradient(to bottom, 
    var(--color-light-slate-blue), 
    var(--color-light-royal-blue));
    
}

